[[source]]
name = "pypi"
url = "https://mirrors.ustc.edu.cn/pypi/web/simple/"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
requests = {extras = ["socks"],version = "*"}
flask = "*"
python-dotenv = "*"
flask-cors = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
